<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
	<title>Quản trị Admin</title>
	<link rel="stylesheet" href="/css/style.css"> <!-- Đường dẫn đến file CSS -->
	<script src="/js/script.js"></script> <!-- Đường dẫn đến file JS -->
</head>

<body>

	<header class="row">
		<div class="col">
			<div th:replace="~{admin/fragments/header :: header}"></div>
		</div>
	</header>

	<main class="container">
		<!-- <nav class="row">
    <div class="col">
        <div th:replace="~{admin/fragments/nav :: nav}"></div>
    </div>
    </nav> -->
		<section class="row mt-4">
			<div class="col mt-5 mb-5">
				<div layout:fragment="content"></div> <!-- Đây là nơi để chứa nội dung của các trang con -->
			</div>
		</section>
	</main>

	<footer class="row">
		<div class="col">
			<div th:replace="~{admin/fragments/footer :: footer}"></div>
		</div>
	</footer>

</body>

</html>