<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <footer>
        <div class="footer-container" style="background-color: #333; color: white; text-align: center; padding: 10px;">
            <p>Thực hiện bởi: Nguyễn Tấn Hùng - MSSVL: 22133027</p>
            <p>Email: 22133027@student.hcmute.edu.vn</p>
            <div class="text-center p-3">
                © 2024 Bản quyền thuộc về Công ty HCMUTE
            </div>
        </div>
    </footer>
</body>
</html>
